@charset "UTF-8";

@media (max-width:768px) {
	#change-ownerWrap h2 { width:90%; }
	#change-ownerWrap .change-owner-list { width:90%; }
	#change-ownerWrap .owner-btn a { width:90%; }
	
}




#change-ownerWrap { width:100%;  }
#change-ownerWrap h2 { width:50%; margin: 50px auto 40px; text-align:center; font-size:20px; color:#FD7A7A; font-weight:700; }
.change-owner-photo img { display:block; width:195px; height:195px; margin:25px auto;
					border: 5px solid #FD7A7A; border-radius:10px;}
.change-owner-list { width:50%; margin:0 auto; }
.change-owner-list li {}
.change-owner-list li input {
	width:100%; height:52px; margin-bottom:18px; padding-left:18px;
	border:1px solid #22B8DD; border-radius:26px;
	font-size:16px; color:#6D6D6D; }

.owner-btn a{ margin-top:15px !important; }
