@charset "UTF-8";


@media (max-width:768px) {
	#import-test-wrap { }
	
}


#import-test-wrap { width:100%; height:100vh;}
#import-test-wrap .scan-photo { display:block; margin: 100px auto 67px;}
#import-test-wrap .import-test-info { width:80%; margin:0 auto 55px;  font-size:16px; text-align:center; color:#6D6D6D; }

/*이미지 촬영하고 반환*/
.file-upload { width:200px; height:200px; margin: 67px auto; z-index:-9999;}
.file-upload #preview { display:block; width:100%; }
.test input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px;
					 padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }



