@charset "UTF-8";

/* 미디어쿼리 */
@media (max-width:768px) {
	
	/* intro */
	#intro-wrap .intro-img .intro-logo { width:60%; top:30%; left:20%; }
	#intro-wrap .intro-img .intro-slogo { width:10%; bottom:10%; left:45%; }
	

	/* main*/
	#login-wrap { width:100%;}
	.main-logo img { display:block; margin:128px auto 75px ;}
	#login-wrap .login { width:90%;  }
	.login li input {  }
	.forgot-pw {  width:90%; }
	.login-btn a{ width:90%; }
	.sign-up { width:90%;}
}


/* intro */
#intro-wrap { position:relative; width:100%; height:100vh; background-color:#22B8DD;}
#intro-wrap a { display:block; width:100%; height:100%; } 
.intro-img { }
.intro-img img { display:block; margin: 0 auto;  }
.intro-img .intro-logo { display:block; position:absolute; width:24%; top:25%; left:38%; }
.intro-img .intro-slogo { display:block; position:absolute; width:4%; bottom:5%; left:48%; }

/* main*/
#login-wrap { width:100%; }
.main-logo {}
.main-logo img { display:block; margin:128px auto 75px ;}
.login { width:50%; margin:0 auto; }
.login li input {   width:100%; height:52px; margin-bottom: 18px; padding-left:18px;
					border:1px solid #22B8DD; border-radius:26px;
					font-size:16px; color:#6D6D6D; }
.forgot-pw {  width:50%; margin:0 auto; font-size:16px; color:#9B7AFD; text-align:center; }
.login-btn a{ }
.sign-up { width:80%; margin:0 auto; font-size:16px; text-align:center;}
.sign-up a{  color:#9B7AFD; text-decoration:none; } 