@charset "UTF-8";

@media (max-width:768px) {
	#visitor-wrap .user-select { width:85%; }
	
}




#visitor-wrap{ position:relative; width: 100%; height: 100vh; background-color:#22B8DD; }
#visitor-wrap .visitor-content { height:88%;  padding-top:15px; bottom:0; /*추후에 뒷배경 content-back으로 조정하면 지우기*/}

.user-select { width:60%; margin: 15px auto 30px; text-align:center;}
.user-select h2 { font-size:20px; text-align:center; margin-bottom:40px; }
.user-visitor { float: left; height:24px; font-size:20px; color:#9B7AFD; font-weight:800; }
.user-site { float: right; height:24px; font-size:20px; color:#FD7A7A; font-weight:800; margin-bottom:40px; }
.toggle_btn { }
.toggleBG{ float:left; position:relative; margin-left:24%; background: #9B7AFD ; width: 70px; height: 32px;
			border: 1px solid #9B7AFD ; border-radius: 15px;}
.toggleFG{background: #FFFFFF; width: 30px; height: 30px; border: none; border-radius: 15px; position: absolute; left: 0px;}
.visitor-btn { display:block; width:100%; height:52px; margin:37px auto 15px; background:#9B7AFD;
               padding:15px 0; border-radius:26px; border:1px solid #9B7AFD;
			   font-size:18px; color:#fff; text-align:center; text-decoration:none; clear:both;  }
.toggle_click{}
/*visitor-select*/
.visitor-select {}
.visitor-content .pcr-vaccine-select { width:70%; height:25px; margin:0 auto 20px; text-align:center; }
.visitor-content .pcr-vaccine-select li { display:inline-block; padding-bottom:5px; font-size:16px;  }
.visitor-content .pcr-vaccine-select li a:hover { text-decoration:none; }
.visitor-content .pcr-vaccine-select li:first-child { margin-right:50px; }
.visitor-content .pcr-vaccine-select .test-select-title  { border-bottom:2px solid #9B7AFD; } 


.visitor-content .visitor-list { width:85%; margin:0 auto; }
.visitor-content .visitor-list li { position:relative; padding:13px 10px 12px; border-bottom:1px solid #00000029;}
.visitor-content .visitor-list .visitor-info {float:left; width:70%; }
.myvaccine { display:none;}

/* 스크립트에서 넣어주는 부분*/
#profile-date { font-size:20px; font-weight:800; }
#profile-time {  margin-left:10px; font-size:20px; font-weight:800; }
#profile-place { display:block; width:100%; clear:both; font-size:20px; margin-top:5px; }
#profile-result { position:absolute; display:block; height:40%; bottom:30%; right:10px;}



/*site-select*/
.site-select { display:none; }
.checkin { width:80%; margin: 20px auto; font-size:16px; text-align:center; }
