@charset "UTF-8";

/* reset */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,input,button { margin:0; padding:0; }
body,h1,h2,h3,h4,h5,h6,th,td,input,button,select {  font-family: 'Roboto', 'Noto Sans KR', sans-serif; }
ul,ol,li { list-style:none; }
img,fieldset { border:none; }
a { text-decoration:none; color:#666; }
input:focus {outline:none;}
select:focus {outline:none;}




body{ padding:20px 20px;}




#preview { display:block; position:absolute; width:200px; left:10%; top:10%;  }
.test label { }
.test input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px;
					 padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
					 
		
.qr-test{ clear:both; margin-top: 300px; }		
.qr-test label{ display:block; }
.qr-test imput { display:block; }			 


