@charset "UTF-8";

@media (max-width:768px) {
	#visited-wrap .visited-list{ width:85%; text-indent:10px;  }
	
}


#visited-wrap{ position:relative; width: 100%; height: 100vh; background-color:#22B8DD; }
#visited-wrap .visited-content { height:88%;  padding-top:15px; bottom:0; /*추후에 뒷배경 content-back으로 조정하면 지우기*/}

.visited-content .visited-list { width:100%; margin:0 auto; }
.visited-content .visited-list li {  padding:13px 15px; border-bottom:1px solid #00000029;}
.visited-content .visited-list li #datetest { display:block; float:left; font-size:20px; font-weight:800;}
.visited-content .visited-list li #timetest { display:block; float:right; font-size:20px;font-weight:800;}
.visited-content .visited-list li #placetest { display:block; width:100%; clear:both; padding-top:7px; font-size:20px;}


/*
.visited-content .visited-list .visited-date { font-size:20px; font-weight:800; }
.visited-content .visited-list .visited-place { font-size:20px; margin-top:5px; } */

.visited_qrscan { bottom: 118px !important; }